.login-container {
    margin-top: 100px
  }
  .slideDown {
    max-width: 350px;
    width: 100%;
    margin: 40px auto;
    background: #1C2541;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.7);
  }
  
  .login-Wrapper::before, .login-Wrapper::after {
    background: #3A506B none repeat scroll 0 0;
    border: 1px solid #0a0a0a;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 3.5px;
    transform: rotateZ(8deg);
    width: 100%;
    z-index: -1;
  }
  .login-group {
    padding: 20px 0;
    position: relative;
    margin-bottom: 0;
  }
  .login-control, .login-control:focus {
    border: none;
    box-shadow: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(72, 243, 63, 0.26);
    border-radius: 0
  }
  .login-group label {
    position: absolute;
    width: 100%;
    left:0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    top: 4px;
    color: #6FFFE9;
  }
  .login-group:focus label {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    top: 4px;
    color: #6FFFE9;
  }
  
  .login-group label::after {
    background-color: #6FFFE9 ;
    bottom: 14px;
    content: "";
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
  }
  
  form h2 {
    color: #6FFFE9;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.26);
    padding: 5px 0;
   
  }
  .login-Wrapper {
      padding: 20px;
  }
  
  .login-group.focused label::after {
    left: 0;
    visibility: visible;
    width: 100%;
  }
  .login-btn {
    background: #6FFFE9;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
   font-weight: bold;
    width: 180px;
    height: 45px;
    margin: 30px auto;
    display: block;
  }
  .login-btn:hover, .login-btn:focus {
    background:#9afcee;
  }
  
  /*for slideDown animation*/
  
  .slideDown {
      animation-duration: 1.5s;
      animation-name: slideDown;
      animation-timing-function: ease;
      visibility: visible !important;
  }
  @keyframes slideDown {
  0% {
      transform: translateY(-100%);
  }
  50% {
      transform: translateY(8%);
  }
  65% {
      transform: translateY(-4%);
  }
  80% {
      transform: translateY(4%);
  }
  95% {
      transform: translateY(-2%);
  }
  100% {
      transform: translateY(0%);
  }
  }